@import "tailwindcss";
video::cue {
  font-size: 0.8em; /* scales with video track rather than viewport */
  background: rgba(0,0,0,0.6);
  color: white;
  text-shadow: 1px 1px 2px black;
  padding: 0.1em 0.2em;
}
